{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
    <h2><a href="{% url 'post_detail' pk=post.pk %}" style="text-decoration: none;">{{ post.title }}</a></h2>
    <div class="info"> {{ post.published_date|date:"Y-m-d" }} | 评论: {{ post.approved_comments.count }}</div>
    <p>{{ post.text|linebreaksbr }}</p>
{% endfor %}
    <p><a class="btn" href="">查看更多 »</a></p>
    <ul class="pagination">
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">Next</a></li>
    </ul>
{% endblock %}