{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>onLYe</title>
	<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link href='//cdn.webfont.youziku.com/webfonts/nomal/94178/47031/581ed8c0f629d8130087fa1e.css' rel='stylesheet' type='text/css' />
</head>
<body>
	<div class="page-header">
    	<h1><a href="/">onLYe</a></h1>
	</div>
    <div class="content container">
    	<div class="row">
        	<div class="col-md-8">
            	{% for post in posts %}
                	<div class="post">
                    	<div class="date">
                        	<p>published: {{ post.published_date }}</p>
                    	</div>
                    	<h1><a href="">{{ post.title }}</a></h1>
                    	<p>{{ post.text|linebreaksbr }}</p>
                	</div>
            	{% endfor %}
        	</div>
    	</div>
	</div>
</body>
</html>